
/*Global*/
html{
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  background-color: #dad8d8;
  margin: 0;
  padding: 0;
}  

/* Headers */
.header1 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.header1 h1 {
  margin-top: 0;
}

.header1 h2 {
  margin-top: 0;
  font-size: 24px;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.input-box {
  margin-right: 10px;
}

.input-box input[type="text"],
.input-box input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.button input[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button input[type="submit"]:hover {
  background-color: #3e8e41;
}

.header1 p {
  margin-top: 0;
}

.header1 a {
  color: #fff;
  text-decoration: none;
}


/* Navbar*/

#main_menu {
  background-color: #666;
  color: #fff;
  padding: 10px;
  text-align: center;
  width:100%;
}

#main_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main_menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

#main_menu span {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

#main_menu ul ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #666;
  padding: 10px;
  display: none;
}

#main_menu li:hover > ul {
  display: block;
}

#main_menu a {
  color: #fff;
  text-decoration: none;
}

#main_menu ul ul li {
  display: block;
  margin: 0;
  margin-bottom: 10px;
}

#main_menu li:hover {
  background-color: #666;
}

#main_menu li:hover a {
  color: #fff;
}

/* Sections */
.Description {
  background-color: #dad8d8;
  padding: 20px;
  margin-bottom: 20px;
}

.Description h1 {
  margin-top: 0;
}

.Description p {
  font-size: 16px;
  line-height: 1.5;
}

.Description a {
  color: #4CAF50;
  text-decoration: none;
}

.Description a:hover {
  text-decoration: underline;
}

.Projects{
  background-color: #647c7c;
  border-top: 3px solid #070707;
  border-right: 3px solid #070707;
  border-left: 3px solid #070707;
  border-bottom: 3px solid #070707;
  border-radius: 10px;
  padding:10px;
  margin-left:10px;
  margin-right:10px;
}
.Projects h1{
  color: #fff;
  padding-top:10px;
  padding-left:10px;
  
}
#MyMentor {
  border: 3px double #333;
  padding-left:20px;
  margin-right: 4px;
  margin-bottom: 20px;
  margin-top : 20px;
  padding-top:5px;
  background-color: #dad8d8;
}
#MyMentor h1{
  color:#070707;
}
#MealMatch {
  border: 3px double #333;
  padding-left:20px;
  margin-right: 4px;
  margin-bottom: 3px;
  margin-top : 10px;
  padding-top:5px;
  background-color: #dad8d8;
}
#MealMatch h1{
  color:#070707;
}
/*footer*/
footer{
  margin:0;
  margin-top: 10px;
  padding-left: 10px;
  background-color: #74a7bd;
  border:solid 3px #647c7c ;
 }

 /* signup page */
 .register{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  padding:10px;
  background: linear-gradient(to bottom right, #FFB6C1, #87CEEB);
 }
 
 .signup .title{
  font-size: 2rem;
  position: relative;
  margin-top:-10px;
  margin-bottom:20px;
 } 
 
 .signup{
  height:65%;
  width:100%;
  max-width:1000px;
  background-color:white;
  padding:30px;
  padding-bottom:0px;
  border-radius:5px;
 }
 
 .signup form .user-info{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:30px;
  font-size:1.4rem;
 }
 form .user-info .input-box{
  margin-bottom:25px;
 }
 
 form .user-info .input-box .info{
  display:block;
 }
 
 form .user-info .input-box input{
  height:30px;
  width:100%;
  border:1px solid black;
  border-radius:5px;
  padding-left:5px;
  margin-right:10px;
 }
 
 .register .signup .button {
  display: flex;
  justify-content: center;
  margin-top:25px;
  }
 
 .register .signup .button input[type="submit"] {
  height: 40px;
  width: 100%;
  max-width: 200px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
 
  form p {
   display:flex;
   justify-content:center;
  }
  
/*Departments general css*/
  .Department {
   padding:10px;
  }
  .Contact {
    border-top:5px double black;
    border-bottom:5px double black;
  }



