
body{
  padding: 0;
  margin:0;
  background-color: #dad8d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size:22px;
}
p{
  font-size: 24px;
}
.div{
  font-size: 21px;
}
.register{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  padding:10px;
  background-color:#dad8d8;
 }

 .signup .title{
  font-size: 2rem;
  position: relative;
  margin-top:-10px;
  margin-bottom:20px;
 } 

 .signup{
  height:65%;
  width:100%;
  margin-bottom:8%;
  max-width:1000px;
  background-color:white;
  padding:30px;
  padding-bottom:0px;
  border-radius:5px;
 }

 .signup form .user-info{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:30px;
  font-size:1.4rem;
 }
form .user-info .input-box{
 margin-bottom:25px;
}

form .user-info .input-box .info{
 display:block;
}

form .user-info .input-box input{
 height:30px;
 width:100%;
 border:1px solid black;
 border-radius:5px;
 padding-left:5px;
 margin-right:10px;
}

.register .signup .button {
 display: flex;
 justify-content: center;
 margin-top:25px;
 }

.register .signup .button input[type="submit"] {
 height: 40px;
 width: 100%;
 max-width: 200px;
 background-color: #4CAF50;
 color: white;
 font-size: 1.2rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 }

 form p {
  display:flex;
  justify-content:center;
 }

 .header1 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.header1 h1 {
  margin-top: 0;
}

.header1 h2 {
  margin-top: 0;
  font-size: 26px;
}

.header1 #main_page_signup {
 position: absolute;
 transform: translate(0%,200%);
}

.header1 #login_error_message{
  position: absolute;
  transform: translate(0%,300%);
 }

 .header1 img{
  position:absolute;
  transform:translate(1050%,-180%);
 }

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#login .white_lock{
 position: relative;
 margin-bottom:0;
 
}

.input-box {
  margin-right: 10px;
}

.input-box input[type="text"],
.input-box input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.button input[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button input[type="submit"]:hover {
  background-color: #3e8e41;
}

.header1 a {
  color: #fff;
  text-decoration: none;
}

footer{
  margin:0;
  margin-top: auto;
  padding-left: 10px;
  background-color: #87CEEB;
  border:solid 3px #647c7c ;
 }
 
 #main_menu {
  width: 100%;
  background-color: #4CAF50;
  box-sizing: border-box;
  border:5px solid #333;
  padding:10px;
}
  
  #main_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
  }
  
  #main_menu li {
    position: relative;
    flex: 1;
    text-align: center;
  }
  
  #main_menu a {
    display: block;
    padding: 16px;
    color: #fff;
    text-decoration: none;
  }

  #main_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4CAF50;
    width: 100%;
  }
  
  #main_menu ul ul li {
    text-align: center;
  }
  
  #main_menu ul ul a {
    padding: 12px;
  }
  
  #main_menu li > span {
    cursor: pointer;
  }
  
  #main_menu li > span:before {
    content: "▼";
    display: inline-block;
    margin-right: 5px;
  }
  
  #main_menu li > span.clicked::before {
    content: "▲";
  }
  
  #main_menu li > span.clicked + ul {
    display: block;
    color: #fff;
  }
  
  #main_menu li > span.clicked {
    color: #ff0;
  }

  .Description {
    padding-left: 10px;
    margin-bottom: 20px;
    font-size:22px;
    margin-top:20px;
  }
.Description h1 {
  margin-top: 0;
}

.Description p {
  font-size: 22px;
  line-height: 1.5;
}

.Description a {
  color: #4CAF50;
  text-decoration: none;
}

.Description a:hover {
  text-decoration: underline;
}

.Projects{
  background-color: #647c7c;
  border-top: 3px solid #070707;
  border-right: 3px solid #070707;
  border-left: 3px solid #070707;
  border-bottom: 3px solid #070707;
  border-radius: 10px;
  padding:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 20px;
}
  .Projects h1{
    color: #fff;
    padding-top:10px;
    padding-left:10px;
    
  }
  #MyMentor {
    border: 3px double #333;
    padding-left:20px;
    margin-right: 4px;
    margin-bottom: 20px;
    margin-top : 20px;
    padding-top:5px;
    background-color: #dad8d8;
  }
  #MyMentor h1{
    color:#070707;
  }
  #MealMatch {
    border: 3px double #333;
    padding-left:20px;
    margin-right: 4px;
    margin-bottom: 3px;
    margin-top : 10px;
    padding-top:5px;
    background-color: #dad8d8;
  }
  #MealMatch h1{
    color:#070707;
  }  

  .change_user_data {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }

  .info_changes {
    margin-bottom: 10px;
  }

  .ticket-form {
    width: 70%;
    color: #fff;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border: 5px double #333;
    padding: 15px;
    background-color: #333;
  }

  #ticket-form{
   margin-top:1%;
  }

  .ticket-info {
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .title-input-box {
    margin-bottom: 10px;
  }

  .description-input-box{
    margin-top: 10px;
  }

  .info {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[name="title"],
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top:1%;
    margin-bottom:1%;
  }

  input[name="title"]{
   width:97%;
  }

  input[name="title"],
  .title{
   margin-top:1%;
  }
  input:disabled {
    background-color: #fff;
    }
    textarea:disabled {
     background-color: #fff;
  }
    textarea.description-text{
       font-size: 20px;
       max-height: 600px;
    }
  

  .description-input-box .description-text{
   height:60em;
   width:99%;
   border-radius:5px;
   margin-top:1%;
  }

  .submission {
    margin-top: 20px;
    text-align: center;
  }

   input[value="Submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  #active_tickets {
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline ;
  }

  .active-ticket {
    margin: 2rem auto;
    width: 50%;
    padding: 2rem;
    border: 5px double #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .active-ticket h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .active-ticket p {
    margin: 0.5rem 0;
  }
  
  .active-ticket ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }
  
  .active-ticket ul li {
    display: inline-block;
    margin-left: 1rem;
  }

  .Department {
    padding:10px;
   }
   .Department h2 {
    text-decoration: underline;
   }

  .Contact {
    border-top:5px double black;
    border-bottom:5px double black;
   }
  
  /* CSS for the modal popup */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin-left: auto;
    margin-right:auto;
    margin-top:10%;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }
  
  .priority-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .priority-options label {
    margin-bottom: 15px;
  }
  
  .close {
    position: relative;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content1 {
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .department-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .department-options label {
    margin-bottom: 5px;
  }

  #chat-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  #chat-box {
    width: 50%;
    height: 80%;
    border: 2px solid #333;
    padding: 10px;
    overflow-y: scroll;
  }
  
  #chat_messages {
    height: 400px;
    white-space: pre-wrap;
  }

  #chat-form{
   display:flex;
   justify-content:center;
   margin-top:-35px;
   margin-left:8px;
  }
  
  #message_text {
    width: 45%;
    padding: 5px;
    height:20px;
    min-height:20px;
    max-height: 150px;
    overflow-y:auto;
  }
  
  #chat-form button {
    padding: 5px;
    margin-left:15px;
    width:6em;
  }

  .message {
    background-color: #007bff;
    color: #fff;
    border: 5px solid #007bff;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom:5px;
    width: 60%;
  }

  #my_message{
    background-color: #007bff;
    color: white;
    border: 5px solid #007bff;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom:5px;
    width: 60%;
  }


  #received_message{
    background-color: #333333;
    color: white;
    border: 5px solid #333333;
    border-radius: 20px;
    margin-bottom:5px;
    padding: 10px;
    width: 60%;
  }
  
  
 #time_of_message{
  position: relative;
  margin-right:0;
  margin-left: auto;
 }

 .faq-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom:50px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.faq-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-form form {
  display: flex;
  flex-direction: column;
  margin-right:20px;
}

.faq-form .form-group {
  margin-bottom: 20px;
}

.faq-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.faq-form input[type="text"],
.faq-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.faq-form .faq-submit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.faq-form .faq-submit:hover {
  background-color: #45a049;
}

.change_user_data{
 display:none;
}

.projprod{
  padding:10px;

}
.projprod h1{
  text-decoration: underline;
}



.eventplanner-container {
  display: flex;
  align-items: center;
}

.eventplanner-img {
  width: 34%;
  margin-left: 600px;
}
.eventplanner-container ul {
  margin-left: 100px;
}
.mymentor-container{
  display: flex;
  align-items: center;
}
.mymentor-img{
  width: 25%;
  margin-left: 600px;
}
.mymentor-container ul{
  margin-left:100px;
  line-height: 2;
  font-size:24px;
}
.mealmatch-container{
  display: flex;
  align-items: center;
}
.mealmatch-img{
  width: 31%;
  margin-left: 600px;
}
.mealmatch-container ul{
  margin-left:100px;
  line-height: 2;
  font-size:24px;
}
.smartgym-container{
  display: flex;
  align-items: center;
}
.smartgym-img{
  width: 23%;
  margin-left: 400px;
}
.smartgym-container ul{
  margin-left:100px;
  font-size: 24px;
  line-height: 2;
}
.healthyhabits-container{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.healthyhabits-img{
  width: 24%;
  margin-left: 400px;
}
.healthyhabits-container ul{
  margin-left:100px;
  font-size: 24px;
  line-height: 2;
}
